body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.gradientBackground {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  position: relative;
  background-size: 400% 400%;
  animation: alter 10s ease-in-out infinite;
}

@keyframes alter {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
h1 {
  padding-top: 20px;
  text-align: center;
  margin: 0;
}

.text-body {
  display: flex;
  justify-content: space-evenly;
  margin: 3vh 12vw 0vh 12vw;
}

.arrow {
  width: 300px;
  margin-top: 50px;
}
@media only screen and (max-width: 1355px) {
  .arrow {
    width: 200px;
  }
}
.arrow:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: rotate(5deg);
}

.arrow-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.resetButton {
  width: 100px;
  height: 100px;
  position: relative;
  left: 23.5vw;
}
.resetButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

.input-box {
  font-size: 18px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.out-box {
  font-size: 18px;
  margin-bottom: 30px;
  border-radius: 10px;
}

#arrow1 {
  visibility: hidden;
}
