body {
    background-color: rgb(222, 240, 240);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    text-align: center;
    margin-top: 40px;
}
.text-body {
    display: flex;
    justify-content: space-evenly;
    margin: 4vh 12vw 1vh 12vw;
   
}

.arrow {
    width: 300px;
    margin-top: 50px;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}
.arrow-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.resetButton {
    width: 100px;
    height:100px;
    position: relative;
    left: 23.5vw;

    &:hover {
        cursor:pointer;
        opacity: 0.5;
    }
}

.input-box {
    font-size: 18px;
    margin-bottom: 30px;
}